:root {
    font-family: "Exo", sans-serif;
    line-height: 160%;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #101010;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

p {
    font-family: sans-serif;
}

h1 {
    font-weight: 200;
    font-size: 3.3em;
    line-height: 1.1;
}

h2 {
    font-weight: 200;
    font-size: 2.4em;
    line-height: 1.1;
}

h3 {
    font-weight: 400;
    font-size: 1.8em;
    line-height: 1.1;
    color: #f57c00;
}

h4 {
    font-weight: 400;
    font-size: 1.4em;
    line-height: 1.1;
}

h5 {
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.1;
    display: inline;
}

a {
    color: #1976d2;
    text-decoration: inherit;
}
a:hover {
    color: #0f68c2;
}

.link-small {
    font-weight: 300;
    color: #ce741b;
    text-decoration: inherit;
}
.link-small:hover {
    color: #b76412;
}

.icon {
    color: rgba(255, 255, 255, 0.87);
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}

canvas {
    border: 4px solid black;
    box-shadow: 0 0 12px black;
}

img {
    border: 4px solid black;
    box-shadow: 0 0 12px black;
    width: 100%;
}

/* combined with a MUI class */
.css-1oqqzyl-MuiContainer-root.text {
    padding-bottom: 0.5em;
    width: 70%;
}

#arrowTop {
    position: fixed;
    right: 0.5em;
    bottom: 0.5em;
    color: rgba(255, 255, 255, 0.87);
}

#mute {
    position: fixed;
    right: 0.5em;
    top: 0.5em;
}

#slider {
    width: 60%;
    padding: 6px 0;
    margin: 0 12px;
}

#divider {
    margin-bottom: 2.5em;
    margin-top: 2.5em;
    border-color: #cf6801;
}

#divider-top {
    margin-bottom: 2.5em;
    border-color: #cf6801;
}

#li {
    justify-content: center;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: grey;
}

#visualizer-img-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

@media (max-width: 1000px) {
    #visualizer-img-container {
        flex-wrap: wrap;
    }
}
